/* #35B6B5 turquesa */
/* #00c4ba turquesa2 */
/* #152B46 azul */

/* 17304f azul navbar */



p{
    line-height: 1.4;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0.4;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

.ffhn {
    font-family: HelveticaNeue;
    letter-spacing: 0.06em;
}
.fflso {
    font-family: LeagueSpartanO;
}
.fflst {
    font-family: LeagueSpartanT;
    letter-spacing: 0.03em;
}


.ffrb {
    font-family: Roboto-Bold;
}
.ffsbl {
    font-family: Spartan-Black;
}
.ffsbo {
    font-family: Spartan-Bold;
}
.ffseb {
    font-family: Spartan-ExtraBold;
}
.ffsel {
    font-family: Spartan-ExtraLight;
}
.ffsl {
    font-family: Spartan-Light;
}
.ffsm {
    font-family: Spartan-Medium;
}
.ffsr {
    font-family: Spartan-Regular;
}
.ffssb {
    font-family: Spartan-SemiBold;
}
.ffst {
    font-family: Spartan-Thin;
}

/* navbar */
.navbar-default {            
    transition: 1s ease !important;
    /* background: white !important; */
}
.navbar-default .navbar-brand {
    color: #17304f ;    
}
.navbar-default .navbar-nav .nav-item .nav-link {
    color: #17304f ;
}
.navbar-default .navbar-nav .nav-item .nav-link:hover {
    /* border: 1px solid #17304f; */
    background-color: #17304f!important;
    color: white !important;    
}
.navbar-default.scrolled {
    background: #17304f !important;
    opacity: 0.9;
}
.navbar-default.scrolled .navbar-brand {
    color: white !important;    
}

.navbar-default.scrolled .navbar-nav .nav-item .nav-link {
    color: white !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    background: #17304f !important;
    opacity: 1;
    color: white !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .nav-link:hover {
    background-color: white !important;
    color: #17304f !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: white !important;
    color: #17304f !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("images/toggle.svg") !important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255) !important;
}
.navbar-toggler:focus {
    /* text-decoration: none !important; */
    border: 2px solid #17304f !important;
}

#active-border {
    border: 1px solid #17304f;
}
.aqchange{
    border: 1px solid white !important;
}

.aqdropdown {
    color: #17304f !important;
}
.aqdropdown:hover{
    background-color: #17304f!important;
    color: white !important;
}


/* .navbar-brand {
    color: blue !important;    
}
.navbar-nav .nav-item .nav-link {
    color: blue !important;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: white !important;
} */

/* .parallax { */
    /* The image used */
    /* background-image: url("/Varo/images/imgPrin.jpg"); */

    /* Set a specific height */
    /* min-height: 500px; */

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
} */

a {
    text-decoration: none;
}

#carrusel {
    float: left;
    width: 1000px;
    overflow: hidden;
    height: 203px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#carrusel .left-arrow {
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

#carrusel .right-arrow {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

.carrusel {
    width: 4000px;
    left: 0px;
    position: absolute;
    z-index: 0;
}

.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    text-align: center;
}

.carrusel img {
    cursor: pointer;
}

.product {
    border: #CCCCCC 1px solid;
}

.carousel-indicators .active {
    background-color: #35B6B5 !important;
    opacity: 1 !important;
}

.aqhvup {
    color: transparent;
    transition: transform .2s;
}

.aqhvup:hover div {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
}

.aqhvup:hover img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /* opacity: 0.3; */
    opacity: 0.4;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.link3 {
    text-decoration: none !important;
}

/* .aqhvsn {
    color: transparent;
} */

/* .aqhvsn:hover div {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
} */


.bb {
    border: 1px solid black;
}

.br {
    border: 1px solid red;
}

.aa:hover:after {
    left: 0;
}
.aa {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    /* color: #00a7b5; */
}

.aa:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -100%;
    width: 100%;
    height: 4px;
    background: #152B46;
    transition: left .2s;
}


.contenedor {
    position: relative;
    height: 50px !important;
    width: 50px !important;
    margin: 1px 8px 20px;
    /* TODO revisar las redes sociales despues del parallax */
    /* float: left; */
}

.contenedor1 {
    position: relative;
    height: 53px !important;
    width: 53px !important;
    margin: 1px 8px 20px;
    /* TODO revisar las redes sociales despues del parallax */
    /* float: left; */
}

.sgconte {
    position: relative;
    min-height: 53px !important;
    max-width: 65% !important;
    min-width: 53px !important;
    margin: 1px 8px 20px;
    /* TODO revisar las redes sociales despues del parallax */
    /* float: left; */
}

.snfb:hover {
    background-image: url('./images/c_fb.png') !important;
    transition: all .5s ease-in-out;
}

.snig:hover {
    background-image: url('./images/c_ig.png') !important;
    transition: all .5s ease-in-out;
}

.snyt:hover {
    background-image: url('./images/c_yt.png') !important;
    transition: all .5s ease-in-out;
}
.snli:hover {
    background-image: url('./images/c_li.png') !important;
    transition: all .5s ease-in-out;
}
.snti:hover {
    background-image: url('./images/c_ti.png') !important;
    transition: all .5s ease-in-out;
}

.sgca:hover {
    background-image: url('./images/shopping_guide/i_blue_candie.png') !important;
    transition: all .5s ease-in-out;
}
.sgco:hover {
    background-image: url('./images/shopping_guide/i_blue_cookie.png') !important;
    transition: all .5s ease-in-out;
}
.sgch:hover {
    background-image: url('./images/shopping_guide/i_blue_chocolate.png') !important;
    transition: all .5s ease-in-out;
}
.sgsn:hover {
    background-image: url('./images/shopping_guide/i_green_snack.png') !important;
    transition: all .5s ease-in-out;
}


/* footer lines hover */
.folihv:hover {
    color: #6e322b !important;
}

.card {
    border: none !important;
}


.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 160px 0px 20px 35px;
    text-align: center !important;
    margin-bottom: 1.5rem;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative !important
}

.files:after {
    pointer-events: none !important;
    position: absolute !important;
    /* width: 80%; */
    right: 0;
    /* height: 56px; */
    content: "Suelta la imagen aquí" !important;
    color: #eacbc8 !important;
    font-family: Spartan-Medium !important;
    font-size: 1.7rem !important;
    text-align: center !important;
    /* background-image: url('/images/drop.png'); */
    /* display: block; */
    /* margin: 0 auto; */
    /* background-size: 100%;
    background-repeat: no-repeat; */
    top: 55% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    /* border: 1px red solid; */
}

.color input {
    background-color: #f1f1f1 !important;
}

.form-group {
    margin-bottom: 0.3rem !important;
    font-family: HelveticaNeue;
}
.form-control:focus {
    border-color: rgb(93, 193, 185) !important;
    box-shadow: 0 0 0 0.2rem rgb(93, 193, 185, 25%) !important;
}

.custom-select:focus {
    border-color: rgb(93, 193, 185) !important;
    box-shadow: 0 0 0 0.2rem rgb(93, 193, 185, 25%) !important;
}


.form-control, .custom-select {
    border: 1px solid #35B6B5 !important;
    border-radius: 0% !important;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  