/* #35B6B5 turquesa */
/* #00c4ba turquesa2 */
/* #152B46 azul */

/* 17304f azul navbar */



p{
    line-height: 1.4;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animatedchatbot {
    border-radius: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    padding: 0.75rem;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, .30) 0, transparent 100%);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-delay: 6s; */
}

.aqfadebot {
    animation-delay: 5s;
}
  
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0.4;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fadeInchatbot {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

.fadeInchatbot {
    animation-name: fadeInchatbot;
}

.ffhn {
    font-family: HelveticaNeue;
    letter-spacing: 0.06em;
}
.fflso {
    font-family: LeagueSpartanO;
}
.fflst {
    font-family: LeagueSpartanT;
    letter-spacing: 0.03em;
}


.ffrb {
    font-family: Roboto-Bold;
}
.ffsbl {
    font-family: Spartan-Black;
}
.ffsbo {
    font-family: Spartan-Bold;
}
.ffseb {
    font-family: Spartan-ExtraBold;
}
.ffsel {
    font-family: Spartan-ExtraLight;
}
.ffsl {
    font-family: Spartan-Light;
}
.ffsm {
    font-family: Spartan-Medium;
}
.ffsr {
    font-family: Spartan-Regular;
}
.ffssb {
    font-family: Spartan-SemiBold;
}
.ffst {
    font-family: Spartan-Thin;
}

/* navbar */
.navbar-default {
    /* background-color: rgba(255, 255, 255, .5); !important;      TODO para que sea 305blanco en lo transparente    */
    transition: 1s ease !important;
}
.navbar-default .navbar-brand {
    color: #17304f ;    
}
.navbar-default .navbar-nav .nav-item .nav-link {
    color: #17304f ;
}
.navbar-default .navbar-nav .nav-item .nav-link:hover {
    /* border: 1px solid #17304f; */
    background-color: #17304f!important;
    color: white !important;    
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    background-color: rgba(255, 255, 255, 30%) !important;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background: #17304f !important;
}

.navbar-default.scrolled {
    background:#17304f !important;
    opacity: 0.9;
}
.navbar-default.scrolled .navbar-brand {
    color: white !important;    
}

.navbar-default.scrolled .navbar-nav .nav-item .nav-link {
    color: white !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    background: #17304f !important;
    opacity: 1;
    color: white !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .nav-link:hover {
    background-color: white !important;
    opacity: 8;
    color: #17304f !important;
}
.navbar-default.scrolled .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: white !important;
    color: #17304f !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("images/toggle.svg") !important;
}
.custom-toggler.navbar-toggler {
    border-color: #3cbabd !important;
}
.navbar-toggler:focus {
    /* text-decoration: none !important; */
    border: 2px solid #3cbabd !important;
}

#active-border {
    border: 1px solid #17304f;
}
.aqchange{
    border: 1px solid white !important;
}

.aqdropdown {
    color: #17304f !important;
}
.aqdropdown:hover{
    background-color: #17304f!important;
    color: white !important;
}

/* .navbar-brand {
    color: blue !important;    
}
.navbar-nav .nav-item .nav-link {
    color: blue !important;
}
/* .parallax { */
    /* The image used */
    /* background-image: url("/Varo/images/imgPrin.jpg"); */

    /* Set a specific height */
    /* min-height: 500px; */

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
} */

a {
    text-decoration: none !important;
}

#carrusel {
    float: left;
    width: 1000px;
    overflow: hidden;
    height: 203px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#carrusel .left-arrow {
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

#carrusel .right-arrow {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

.carrusel {
    width: 4000px;
    left: 0px;
    position: absolute;
    z-index: 0;
}

.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    text-align: center;
}

.carrusel img {
    cursor: pointer;
}

.product {
    border: #CCCCCC 1px solid;
}

.carousel-indicators .active {
    background-color: #35B6B5 !important;
    opacity: 1 !important;
}

.aqhvup {
    color: transparent;
    transition: transform .2s;
}

.aqhvup:hover div {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
}

.aqhvup:hover img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.4;
    transform: scale(1.1); 
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.link3 {
    text-decoration: none !important;
}

/* .aqhvsn {
    color: transparent;
} */

/* .aqhvsn:hover div {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
} */


.bb {
    border: 1px solid black;
}

.br {
    border: 1px solid red;
}

.aqunllin{
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #152B46;
}
.aqunllin:hover:after {
    right: 0;
    left: 0;
    width: 100%;
}
.aqunllin:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 50%;
    left: 50%;
    width: 0;
    height: 4px;
    background: #152B46;
    transition: all .2s;
}


.contenedor {
    position: relative;    
    margin: 1px 4px 0px;
    /* float: left; */
}

.sgconte {
    position: relative;
    min-height: 53px !important;
    max-width: 65% !important;
    min-width: 53px !important;
    margin: 1px 8px 20px;
    /* float: left; */
}
.snicwd {
    width: 43px;
    height: 43px;
    background-size: cover;
}
.snicwd2 {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.snfb {
    background-image: url('./images/w_fb.png') !important;
    transition: all .5s ease-in-out;
}

.snig {
    background-image: url('./images/w_ig.png') !important;
    transition: all .5s ease-in-out;
}

.snyt {
    background-image: url('./images/w_yt.png') !important;
    transition: all .5s ease-in-out;
}
.snli {
    background-image: url('./images/w_li.png') !important;
    transition: all .5s ease-in-out;
}
.snti {
    background-image: url('./images/w_ti.png') !important;
    transition: all .5s ease-in-out;
}
.snfb:hover {
    background-image: url('./images/c_fb.png') !important;
    transition: all .5s ease-in-out;
}

.snig:hover {
    background-image: url('./images/c_ig.png') !important;
    transition: all .5s ease-in-out;
}

.snyt:hover {
    background-image: url('./images/c_yt.png') !important;
    transition: all .5s ease-in-out;
}
.snli:hover {
    background-image: url('./images/c_li.png') !important;
    transition: all .5s ease-in-out;
}
.snti:hover {
    background-image: url('./images/c_ti.png') !important;
    transition: all .5s ease-in-out;
}

.sgca:hover {
    background-image: url('./images/shopping_guide/i_blue_candie.png') !important;
    transition: all .5s ease-in-out;
}
.sgco:hover {
    background-image: url('./images/shopping_guide/i_blue_cookie.png') !important;
    transition: all .5s ease-in-out;
}
.sgch:hover {
    background-image: url('./images/shopping_guide/i_blue_chocolate.png') !important;
    transition: all .5s ease-in-out;
}
.sgsn:hover {
    background-image: url('./images/shopping_guide/i_green_snack.png') !important;
    transition: all .5s ease-in-out;
}


/* footer lines hover */
.folihv:hover {
    color: #6e322b !important;
}

.card {
    border: none !important;
}


.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 160px 0px 20px 35px;
    text-align: center !important;
    margin-bottom: 1.5rem;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative !important
}

.files:after {
    pointer-events: none !important;
    position: absolute !important;
    /* width: 80%; */
    right: 0;
    /* height: 56px; */
    content: "Suelta la imagen aquí" !important;
    color: #eacbc8 !important;
    font-family: Spartan-Medium !important;
    font-size: 1.7rem !important;
    text-align: center !important;
    /* background-image: url('/images/drop.png'); */
    /* display: block; */
    /* margin: 0 auto; */
    /* background-size: 100%;
    background-repeat: no-repeat; */
    top: 55% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    /* border: 1px red solid; */
}

.color input {
    background-color: #f1f1f1 !important;
}

.form-group {
    margin-bottom: 0.3rem !important;
    font-family: HelveticaNeue;
}
.form-control:focus {
    border-color: rgb(93, 193, 185) !important;
    box-shadow: 0 0 0 0.2rem rgba(93, 193, 185, 25%) !important;
}

.custom-select:focus {
    border-color: rgb(93, 193, 185) !important;
    box-shadow: 0 0 0 0.2rem rgba(93, 193, 185, 25%) !important;
}


.form-control, .custom-select {
    border: 1px solid #35B6B5 !important;
    border-radius: 0% !important;
}

h1{
    font-size: 2rem !important;
}

h3{
    font-size: 1.5rem !important;
}

h4{
    font-size: 1.25rem !important;
}

h5{
    font-size: 1rem !important;
}

.aqlogwid{
    width: 145px;
}

.aqpadnav{
    /* padding-top: 60px; ABOUT ESTABA CON DIV O H1 3REM*/
}

.aqposimgabo{
    position: absolute;
    bottom: 0;
    color: #152B46;
    /*transform: translate(50%, 100%);
    -ms-transform: translate(50%, 50%); */
}

.aqwhois{
    width: 80%;
}

.aqmarleftit{
    padding-left: 1.5rem;
}

.aqmarneg{
    margin-top: 3.5rem;
}

.aqborpro{
    border: #35B6B5 3px solid;
    border-top: none;
}
.aqborproleftop{
    border-top: #35B6B5 3px solid;
}
.aqleastborprorigbot{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    border:#35B6B5 3px solid;
    border-bottom: none;
    z-index: -10;
}
.aqsizesel{
    width: 10px;
    height: 10px;
    /* border-radius: 7px; */
}
.aqpxchabox{
    padding: 1px 0.25rem;
}

.aqimgsg{
    width: 100%;
    height: auto;

}
.aqreq{
    color: rgb(235, 26, 26);
}

.aqnavbar-toggle {
    background-color: rgba(255, 255, 255, .70);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .aqwhois {
        width: 70%;
        margin-bottom: 1.5rem;
    }
    .aqposicoabo{
        transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0);
    }

    .aqmarleftit{
        padding-left: 0rem;
    }

    .snicwd {
        width: 53px;
        height: 53px;
        background-size: cover;
    }
    .snicwd2 {
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .contenedor {  
        margin: 1px 8px 20px;
    }
    .aqborpro{
        border-top: #35B6B5 3px solid;
        border-left: none;
    }
    .aqborproleftop{
        border-top: none;
        border-left: #35B6B5 3px solid;
    }
    .aqleastborprorigbot{
        top: 0;
        border:#35B6B5 3px solid;
        border-right: none !important;
        height: 100% !important;
        width: 66%;
    }
    .aqimgsg{
        float: left;
        width: 44%;
        height: auto;
    
    }
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1 {
        font-size: 2.25rem !important;
    }    
    h3{
        font-size: 1.75rem !important;
    }
    h4 {
        font-size: 1.5rem !important;
    }
    h5 {
        font-size: 1.25rem !important;
    } 
    .aqposimgabo{
        width: 100%;
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
    }
    .aqmarneg{
        margin-top: -3.5rem;
    }
    
    .animatedchatbot img {
        width: 87px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .aqnavbar-toggle {
        background-color: transparent;
    }
    .animatedchatbot img {
        width: 100px !important;
    }
    
    .aqsizesel{
        width: 12px;
        height: 12px;        
        /* border-radius: 9px; */
    }
    .aqpxchabox{
        padding: 1px 0.37rem;
    }
    .aqpyprotex{
        padding: 2rem 0 !important;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .aqpyprotex{
        padding: 2.5rem 0 !important;
    }
}