@font-face {
    font-family: HelveticaNeue;
    src: url(./HelveticaNeue/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: LeagueSpartanO;
    src: url(./LeagueSpartan/LeagueSpartan-Bold.otf);
}
@font-face {
    font-family: LeagueSpartanT;
    src: url(./LeagueSpartan/LeagueSpartan-bold.ttf);
}


@font-face {
    font-family: Spartan-Bold;
    src: url(./Spartan/static/Spartan-Bold.ttf);
}
@font-face {
    font-family: Spartan-ExtraBold;
    src: url(./Spartan/static/Spartan-ExtraBold.ttf);
}

@font-face {
    font-family: Spartan-SemiBold;
    src: url(./Spartan/static/Spartan-SemiBold.ttf);
}
